# Pre-processing & Training Data Development :

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, cross_validate, GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

In [2]:
movie_score = pd.read_csv('/Users/Amin/Documents/GitHub/Movie_boxoffice_reviews/data/processed/pre_process_db.csv')

In [3]:
movie_score.head()

,All_time_gross,tom_cri_score,tom_aud_score,met_cri_score,met_aud_score,imdb_score,imdb_us_score,imdb_fem_score,class
0,62832209,11.180385,0.248638,28.000000,0.536788,2.064492,1.947460,3.230484,Average
1,428028233,24.294221,0.290463,33.000000,1.651263,4.196134,4.240490,3.140899,Average
2,225973340,24.462347,0.620494,36.550000,4.073777,5.110510,4.514100,4.154062,Average
3,42213,1.821366,0.002707,4.783333,0.025261,0.051761,0.079159,0.053576,Indie
4,880166924,62.353765,3.963631,59.616667,17.351644,18.251734,17.747966,13.584817,Blockbuster

In [4]:
movie_score.describe().T

,count,mean,std,min,25%,50%,75%,max
All_time_gross,3276.0,7.193749e+07,1.885635e+08,177.0,223421.250000,3.471091e+06,4.905136e+07,2.797501e+09
tom_cri_score,3276.0,1.249701e+01,1.423395e+01,0.0,2.230298,7.021891e+00,1.815762e+01,8.664799e+01
tom_aud_score,3276.0,8.185137e-01,2.460268e+00,0.0,0.010045,8.998959e-02,6.448805e-01,7.600000e+01
met_cri_score,3276.0,2.129538e+01,1.727440e+01,0.0,7.066667,1.700000e+01,3.230000e+01,8.800000e+01
met_aud_score,3276.0,1.350672e+00,3.828720e+00,0.0,0.054531,2.278970e-01,9.817061e-01,6.473937e+01
imdb_score,3276.0,2.382261e+00,5.223244e+00,0.0,0.102347,4.957343e-01,2.258575e+00,8.800000e+01
imdb_us_score,3276.0,2.512044e+00,5.139497e+00,0.0,0.137849,5.819906e-01,2.478241e+00,8.700000e+01
imdb_fem_score,3276.0,2.682522e+00,5.538160e+00,0.0,0.119661,5.900872e-01,2.615517e+00,8.600000e+01

In [5]:
critics_score = movie_score[['All_time_gross','tom_cri_score','met_cri_score']]

In [6]:
X_train_cri, X_test_cri, y_train_cri, y_test_cri = train_test_split(critics_score.drop(columns='All_time_gross'), 
                                                    critics_score.All_time_gross, test_size=0.3, 
                                                    random_state=47)

In [7]:
X_train_cri.shape

(2293, 2)

In [8]:
X_test_cri.shape

(983, 2)

In [9]:
cri_reg_model=LinearRegression()    
cri_reg_model.fit(X_train_cri,y_train_cri)
y_pred_cri = cri_reg_model.predict(X_test_cri)

In [10]:
mean_absolute_error(y_test_cri,y_pred_cri)

88909722.55953944

In [11]:
r2_score(y_test_cri,y_pred_cri)

0.2532233225629945

In [12]:
audience_score = movie_score[['All_time_gross','tom_aud_score','met_aud_score','imdb_score','imdb_us_score','imdb_fem_score']]

In [13]:
X_train_aud, X_test_aud, y_train_aud, y_test_aud = train_test_split(audience_score.drop(columns='All_time_gross'), 
                                                    audience_score.All_time_gross, test_size=0.3, 
                                                    random_state=47)

In [14]:
aud_reg_model=LinearRegression()    
aud_reg_model.fit(X_train_aud,y_train_aud)
y_pred_aud = aud_reg_model.predict(X_test_aud)

In [15]:
mean_absolute_error(y_test_aud,y_pred_aud)

65106196.54926808

In [16]:
r2_score(y_test_aud,y_pred_aud)

0.5066838813887015

In [17]:
cri_forest_model = RandomForestRegressor()
cri_forest_model.fit(X_train_cri,y_train_cri)
y_pred_cri = cri_forest_model.predict(X_test_cri)

In [18]:
mean_absolute_error(y_test_cri,y_pred_cri)

87919676.42229064

In [19]:
r2_score(y_test_cri,y_pred_cri)

0.18452236403867406

In [20]:
aud_forest_model=RandomForestRegressor()    
aud_forest_model.fit(X_train_aud,y_train_aud)
y_pred_aud = aud_reg_model.predict(X_test_aud)

In [21]:
mean_absolute_error(y_test_aud,y_pred_aud)

65106196.54926808

In [22]:
r2_score(y_test_aud,y_pred_aud)

0.5066838813887015