In [1]:
import pandas as pd


imdb = pd.read_csv('/Users/Amin/Documents/GitHub/Movie_boxoffice_reviews/data/interim/IMDB_2019.csv')
print (imdb.head())

   Unnamed: 0 imdb_title_id  weighted_average_vote  total_votes  mean_vote  \
0       65543     tt2226440                    4.5          294        5.3
1       65547     tt2226597                    6.4        64703        6.6
2       65580     tt2231461                    6.1       137865        6.4
3       65599     tt2233979                    4.9          697        5.5
4       65634     tt2237324                    5.2         3820        5.3

   median_vote  votes_10  votes_9  votes_8  votes_7  ...  date_published  \
0          5.0        61       10       12       20  ...      2018-01-02
1          7.0      4189     3239     9024    18566  ...      2017-11-23
2          6.0     10863     5025    13295    32326  ...      2018-04-12
3          5.0        81       20       40       72  ...      2018-11-02
4          5.0       148      119      160      381  ...      2018-07-25

          director  avg_vote   votes       budget  usa_gross_income  \
0    Royston Innes       4.5     294          $ 0               NaN
1   Hany Abu-Assad       6.4   64703   $ 35000000        $ 30348555
2      Brad Peyton       6.1  137865  $ 120000000       $ 101028233
3  Tommy Bertelsen       4.9     697          NaN               NaN
4    Bobby Moresco       5.2    3820          NaN               NaN

   worlwide_gross_income  metascore  reviews_from_users  reviews_from_critics
0                    NaN        NaN                24.0                   2.0
1             $ 62832209       48.0               333.0                 168.0
2            $ 428028233       45.0               687.0                 326.0
3                    NaN        NaN                30.0                  14.0
4                $ 82247        NaN                58.0                  20.0

[5 rows x 63 columns]

In [52]:
imdb_clean = imdb[['imdb_title_id','title','director','year','date_published','avg_vote','total_votes','us_voters_rating','us_voters_votes','non_us_voters_rating','non_us_voters_votes','females_allages_avg_vote','females_allages_votes','males_allages_avg_vote','males_allages_votes']]

imdb_clean.loc[1825,'director']='Keitarou Motonaga'
imdb_clean.loc[1827,'director']='Keitarou Motonaga'
imdb_clean.loc[2248,'director']='Kevin Wayne'
imdb_clean.loc[4165,'director']='S. R. Prabhakaran'
imdb_clean.loc[5108,'director']='B. Ashok Kumar'
imdb_clean.loc[6080,'director']='Masaki Nishiura'
imdb_clean.loc[6875,'director']='Michael Pine'
imdb_clean.loc[8465,'director']='Baba Yadav'
imdb_clean.dropna(subset = ['director','non_us_voters_rating','non_us_voters_votes'],inplace= True)
imdb_clean.us_voters_rating.fillna(imdb_clean['avg_vote'], inplace=True)
imdb_clean.us_voters_votes.fillna(imdb_clean['total_votes'], inplace=True)
imdb_clean.females_allages_avg_vote.fillna(imdb_clean['males_allages_avg_vote'], inplace=True)
imdb_clean.females_allages_votes.fillna(imdb_clean['males_allages_votes'], inplace=True)
imdb_clean.describe()

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-52-2c4823c5f9ac>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_clean.dropna(subset = ['director','non_us_voters_rating','non_us_voters_votes'],inplace= True)
/opt/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

,year,avg_vote,weighted_average_vote,total_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes,females_allages_avg_vote,females_allages_votes,males_allages_avg_vote,males_allages_votes
count,8566.000000,8566.000000,8566.000000,8566.000000,8566.000000,8566.000000,8566.000000,8566.000000,8566.000000,8566.000000,8566.000000,8566.000000
mean,2017.877072,5.696089,5.696089,6354.568994,5.645949,764.845669,5.498015,2488.252043,5.892108,819.766752,5.518118,3618.112538
std,0.783332,1.310570,1.310570,34038.655395,1.417975,3963.860057,1.373920,12530.628259,1.434441,4125.480409,1.341182,19347.270377
min,2017.000000,1.000000,1.000000,99.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000
25%,2017.000000,4.900000,4.900000,211.000000,4.800000,19.000000,4.600000,81.000000,5.100000,23.000000,4.700000,113.000000
50%,2018.000000,5.800000,5.800000,467.000000,5.800000,52.000000,5.700000,189.000000,6.000000,56.000000,5.700000,251.000000
75%,2019.000000,6.600000,6.600000,1536.000000,6.600000,175.000000,6.500000,633.000000,6.800000,186.000000,6.500000,850.000000
max,2019.000000,9.900000,9.900000,855097.000000,10.000000,86997.000000,10.000000,281183.000000,10.000000,90224.000000,9.300000,454186.000000